* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.container-fluid a {
    color: #ffbf97;
    text-decoration: none;
    font-size: 20px;
}

.container-fluid a:hover {
    color: #b36f46;
    text-decoration: none;
    font-size: 20px;
    transition: 1s;
}
.contenedor-titulo{
    padding: 2% 0%;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.dropdown-menu ul {
    color: #b36f46;
    font-size: 100px;
    /*k*/
}

.tutoriales {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.tutoriales h1 {
    font-size: 50px;
    font-weight: 600;
}

.tutoriales p {
    color: #b36f46;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.video-col1,
.video-col2,
.video-col3,
.video-col4,
.video-col5,
.video-col6,
.video-col7,
.video-col8,
.video-col9 {
    display: inline-block;
    text-decoration: none;
    flex-basis: 40%;
    background: rgb(78, 111, 196);
    color: rgb(2, 2, 2);
    border-radius: 30px;
    margin-bottom: 5%;
    padding: 20px 12px;
    position: relative;
    width: 25%;
    margin-left: 20px;
}

.video-col1 h3,
.video-col2 h3,
.video-col3 h3,
.video-col4 h3,
.video-col5 h3,
.video-col6 h3,
.video-col7 h3,
.video-col8 h3,
.video-col9 h3 {
    font-size: 27px;
}

.video-col1 p,
.video-col2 p,
.video-col3 p,
.video-col4 p,
.video-col5 p,
.video-col6 p,
.video-col7 p,
.video-col8 p,
.video-col9 p {
    font-size: 14px;
}

.contenedor-vision,
.contenedor-vision2 {
    padding: 2% 0%;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.contenedor-vision div,
.contenedor-vision2 div {
    height: 200px;
    width: 300px;
    background-color: crimson;
}

.contenedor-vision figure {
    position: relative;
    height: 100px;
    width: 300px;
    border-radius: 10px;
}

.contenedor-vision2 figure {
    position: relative;
    height: 100px;
    width: 350px;
    border-radius: 10px;
}

.contenedor-vision figure .capa,
.contenedor-vision2 figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    border-radius: 10px
}

.contenedor-vision figure h3,
.contenedor-vision2 figure h3 {
    color: rgb(226, 122, 122);
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    border-radius: 10px
}

.header {
    min-height: 4vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.main-link {
    text-align: center;
}

.Main {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255)
}

.nav {
    display: flex;
    padding: 2% 1000%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}

.nav-links ul li a {
    color: rgb(226, 122, 122);
    text-decoration: none;
    font-size: 25px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(222, 197, 166);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.banner {
    background-color: crimson;
}

.banner__content {
    padding: 16px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner_logo {
    text-align: center;
}

.nav-links2 {
    padding-top: 2%;
    flex: 1;
    text-align: center;
}

.nav-links2 ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 60px;
    position: relative;
}

.nav-links2 ul li a{
    color: rgb(218, 27, 84);
    text-decoration: none;
    font-size: 20px;
}

.nav-links2 ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(162, 42, 82);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links2 ul li:hover::after {
    width: 100%;
}

.contenedor-titulo{
    padding: 2% 0%;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.contenedor-titulo div{
    height: 200px;
    width: 300px;
    background-color: crimson;
}

.contenedor-titulo figure {
    position: relative;
    height: 100px;
    width: 500px;
    border-radius: 10px;
}

.contenedor-titulo figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    border-radius: 10px
}

.contenedor-titulo figure h3{
    color: rgb(226, 122, 122);
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    border-radius: 10px
}

/* footer */


footer{
    min-height: 4vh;
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    position: center;
    float: left;
}

.footer_content {
    padding: 16px;
    max-width: 100%;
    margin: 0 auto;
    display:flex;
    align-items: center;
}

.footerb {
    background-color: crimson;
    padding: 16px;
    max-width: 100%;
    display:flex;
    align-content: center;
}
.footerb p{
    color: #fff;
    margin-left: 45%;
}
.footerb .icons{
    margin-left: auto;
}