*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}


.header{
    min-height: 4vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}


.main-link{
    text-align: center;
}
.Main{
    min-height: 100vh;
    width: 100%;
    background-color:rgb(255, 255, 255)
}

.nav{
    display: flex;
    padding: 2% 1000%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(226, 122, 122);
    text-decoration: none;
    font-size: 25px;
}

.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background:rgb(222, 197, 166);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.banner {
    background-color: crimson;
}
.banner__content {
    padding: 16px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner_logo{
    text-align: center;
}
    
.nav-links2{
    padding-top: 2%;
    flex: 1;
    text-align: center;
}
.nav-links2 ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 60px;
    position: relative;
}
.nav-links2 ul li a{
    color: rgb(218, 27, 84);
    text-decoration: none;
    font-size: 20px;
}

.nav-links2 ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background:rgb(162, 42, 82);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links2 ul li:hover::after{
    width: 100%;
}

/*
todo el main mision, vision, personal
*/



.column {
	float: left;
	width: 20%;
	padding: 2% 2%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}


.contenedor-vision{
    padding: 2% 0%;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
}
.contenedor-vision div{
  height: 200px;
  width: 300px; 
  background-color: crimson;
  border-radius: 30px;
}

    
    
.contenedor-vision figure{
    position:relative;
    height: 200px;
    width: 1000px;
    border-radius: 30px;
    
 }

.contenedor-vision figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
}

.contenedor-vision figure h3{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 100px;
    font-size: 40px;
}
.contenedor-vision figure p{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 100px;
    font-size: 20px;
}


.contenedor-mision{
    padding: 2% 0%;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-mision div{
    height: 200px;
    width: 300px; 
    background-color:crimson;
    border-radius: 30px;
  }
.contenedor-mision figure{
    position:relative;
    height: 200px;
    width: 1000px;
    border-radius: 30px;
 }

.contenedor-mision figure img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.contenedor-mision figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
}

.contenedor-mision figure h3{
    color: #fff;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 40px;

}
.contenedor-mision figure p{
    color: #fff;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 100px;
    font-size: 25px;
}


.contenedor1{
    padding: 20% 0%;
    min-height: 40vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 30px;
    margin-left: 225px;
}
.contenedor1 figure{
    position:absolute;
    height: 300px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;    
    overflow: hidden;
 }

.contenedor1 figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
    border-radius: 30px;
}
.contenedor1 figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(145, 0, 17, 0.638);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 30px;
}
.contenedor1 figure:hover > .capa {
    opacity: 1;
    visibility: visible;
    border-radius: 30px;
}
.contenedor1 figure:hover > .capa h3{
    margin-top: 150px;
    margin-bottom: 15px;
    border-radius: 30px;
}
.contenedor1 figure:hover > img{
    transform: scale(1);
    border-radius: 30px;
}

.contenedor1 figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
    border-radius: 30px;
}
.contenedor1 figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
    border-radius: 30px;
}

.contenedor2{
    padding: 20% 0%;
    min-height: 40vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 30px;
    margin-left: 150px;
}
.contenedor2 figure{
    position:absolute;
    height: 300px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;    
    overflow: hidden;
 }

.contenedor2 figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
    border-radius: 30px;
}
.contenedor2 figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(214, 119, 252, 0.638);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 30px;
}
.contenedor2 figure:hover > .capa {
    opacity: 1;
    visibility: visible;
    border-radius: 30px;
}
.contenedor2 figure:hover > .capa h3{
    margin-top: 150px;
    margin-bottom: 15px;
    border-radius: 30px;
}
.contenedor2 figure:hover > img{
    transform: scale(1);
    border-radius: 30px;
}

.contenedor2 figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
    border-radius: 30px;
}
.contenedor2 figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
    border-radius: 30px;
}

.contenedor3{
    padding: 20% 0%;
    min-height: 40vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 30px;
    margin-left: 100px;
}
.contenedor3 figure{
    position:absolute;
    height: 300px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;    
    overflow: hidden;
 }

.contenedor3 figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
    border-radius: 30px;
}
.contenedor3 figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(172,242,237,0.638);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 30px;
}
.contenedor3 figure:hover > .capa {
    opacity: 1;
    visibility: visible;
    border-radius: 30px;
}
.contenedor3 figure:hover > .capa h3{
    margin-top: 150px;
    margin-bottom: 15px;
    border-radius: 30px;
}
.contenedor3 figure:hover > img{
    transform: scale(1);
    border-radius: 30px;
}

.contenedor3 figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
    border-radius: 30px;
}
.contenedor3 figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
    border-radius: 30px;
}


.contenedor4{
    padding: 20% 0%;
    min-height: 40vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 30px;
        
}
.contenedor4 figure{
    position:absolute;
    height: 300px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;    
    overflow: hidden;
 }

.contenedor4 figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
    border-radius: 30px;
}
.contenedor4 figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,103,123,0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 30px;
}
.contenedor4 figure:hover > .capa {
    opacity: 1;
    visibility: visible;
    border-radius: 30px;
}
.contenedor4 figure:hover > .capa h3{
    margin-top: 150px;
    margin-bottom: 15px;
    border-radius: 30px;
}
.contenedor4 figure:hover > img{
    transform: scale(1);
    border-radius: 30px;
}

.contenedor4 figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
    border-radius: 30px;
}
.contenedor4 figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
    border-radius: 30px;
}


/* footer */

footer{
    min-height: 4vh;
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    position: center;
    float: left;
}

.footer_content {
    padding: 16px;
    max-width: 100%;
    margin: 0 auto;
    display:flex;
    align-items: center;
}

.footerb {
    background-color: crimson;
    padding: 16px;
    max-width: 100%;
    display:flex;
    align-content: center;
}
.footerb p{
    color: #fff;
    margin-left: 45%;
}
.footerb .icons{
    margin-left: auto;
}
